body {
  background-color: #a0a29b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
overflow: hidden;}
.logo {
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 34%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
font-size: large;}
.logoText {
  z-index: 2;
  position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-wrap: nowrap;
    background-color: #a0a29b;
}