body {
  background-color: #a0a29b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
overflow: hidden;}
.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 95vh;
  z-index: 1;
font-size: large;}
.logoText {
  z-index: 2;
  position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-wrap: nowrap;
    background-color: #a0a29b;
}
.secretInput{
  position: absolute;
  z-index: 3;
  opacity: 1;
}

@media screen and (max-width: 1170px){
.logoText{
  text-wrap: wrap;
}
}
@media screen and (max-width: 1000px){
.logoText{
  top: 85%;
  font-size: x-large;
}
}